<?xml version="1.0" ?>
<!--
/**
 * Grability
 *
 * @category            Grability
 * @package             Grability_Mobu
 * @copyright           Copyright (c) Grability (https://www.grability.com/)
 * @termsAndConditions  https://www.grability.com/legal
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Sobreescribe procesador de respuesta webapi -->
    <preference for="Magento\Framework\Webapi\ServiceOutputProcessor" type="Grability\Mobu\Model\Api\ServiceOutputProcessor" />
    
    <preference for="Grability\Mobu\Api\PostManagementInterface" type="Grability\Mobu\Model\PostManagement"/>
    <preference for="Grability\Mobu\Api\GetManagementInterface" type="Grability\Mobu\Model\GetManagement"/>
    <preference for="Grability\Mobu\Api\SocialLoginInterface" type="Grability\Mobu\Model\Api\SocialLogin"/>
    <preference for="Mageplaza\Webhook\Block\Adminhtml\Hook\Edit\Tab\Renderer\Body" type="Grability\Mobu\Block\Adminhtml\Hook\Edit\Tab\Renderer\Body"/>
    <preference for="Mageplaza\Webhook\Model\Config\Source\HookType" type="Grability\Mobu\Model\Config\Source\HookType"/>
    <preference for="Mageplaza\Webhook\Helper\Data" type="Grability\Mobu\Helper\Data"/>

    <!-- para numero de ceros en factura -->
    <type name="Magento\Framework\DB\Sequence\SequenceInterface">
        <arguments>
            <argument name="pattern" xsi:type="string">%s%'.01d%s</argument>
        </arguments>
    </type>

    <!-- para traducciónes de factura pdf con idioma de tienda -->
    <type name="\Magento\Framework\Locale\ResolverInterface">
        <plugin name="mage_localeresolver_reload" type="Magento\Framework\Translate\Locale\Resolver\Plugin" sortOrder="1" disabled="false"/>
    </type>
</config>
