<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="grability_mobu" frontName="grability_mobu">
            <module name="grability_mobu" before="Magento_Backend" />
        </route>
    </router>
</config>

