<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="grability" translate="label" sortOrder="10">
            <label>Grability</label>
        </tab>
        <section id="mobu" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>MOBU</label>
            <tab>grability</tab>
            <resource>Grability_Mobu::mobu_config</resource>
            <group id="api" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>API Configuration</label>
                <field id="url_api" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Url Api</label>
                    <comment>https://connect.grabilitysaas.dev/api/v2</comment>
                </field>
                <field id="retailer_alias" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Retailer Alias</label>
                    <comment>app_id.</comment>
                </field>
            </group> 
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="country_code" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Country Code</label>
                    <comment>register the country code of your store, example "CO" for Colombia.</comment>
                </field>
                <field id="button_sync" translate="label" type="button" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                    <frontend_model>Grability\Mobu\Block\System\Config\SyncButton</frontend_model>
                    <!--<label>Collect all available data (in separate table)</label>-->
                    <comment>Sync Mobu Data</comment>
                </field>
            </group>
            <group id="auth" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Autenticación y Autorización</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="secret_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Secret Key</label>
                </field>
            </group>
        </section>
    </system>
</config>

